<div>
  <link href="./footer-gray.css" rel="stylesheet" />
  <footer class="footer-gray-footer">
    <div class="footer-gray-divider"></div>
    <div class="footer-gray-container">
      <div class="footer-gray-container1">
        <div class="footer-gray-container2">
          <span class="footer-gray-text">RoboticsClub</span>
        </div>
        <div class="footer-gray-container3"></div>
      </div>
      <span class="footer-gray-text1 Small">
        <span>
          All rights reserved. Copyright © 2021 Soft UI Design System by
        </span>
        <span class="footer-gray-text3">Creative Tim</span>
        <span>.</span>
      </span>
    </div>
  </footer>
</div>
