<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <span class="footer-text">RoboticsClub</span>
        <span>Copyright © 2023 by Whitehat.Mr</span>
      </div>
      <div class="footer-container2">
        <div class="footer-container3">
          <span class="footer-text2 Large">Pages</span>
          <span class="footer-text3 Large">Event</span>
          <span class="footer-text4 Large">Join Us</span>
          <span class="footer-text5 Large">About</span>
        </div>
      </div>
    </div>
    <img alt="image" src="public/waves-white.svg" class="footer-image" />
  </footer>
</div>
